.navbar{
    display:flex;
    // flex-direction: column;
    justify-content: center;
     background-color: #00203FFF;
     color: white;
     top:0;

    .container{
        width: 1400px;
        display: flex;
        
       
        justify-content: space-between;
        padding: 20px 0px;

        .logo{
            font-size: 34px;
            font-weight: bold;
            .text{

            }
            .dot{
                color: greenyellow;

            }
        }
        .links{
            display: flex;
            align-items: center;
            gap: 24px;
             font-family: "Montserrat", sans-serif;
            font-weight: 500;
           button{
            color:white;
            padding: 10px 20px;
            border-radius: 5px;
            border:1px solid white;
            cursor: pointer;
            background-color: transparent;

             &:hover{
            background-color: #ADEFD1FF;
            border-color: #ADEFD1FF;
           }
           }
          
        }
    }
    .menu{
        width: 1400px;
        padding: 10px 0px;

    }
}